@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "space grotesk", sans-serif;
    background: #000;
    color: #fff;
}

.bg-img{
    background-image: url(../src/assets/bg-img5.png);
}




.neon-text:hover{
    font-size: 4rem;
    color: #fff;
    text-shadow: 
        0 0 5px #ff005e, 
        0 0 10px #ff005e, 
        0 0 20px #ff005e, 
        0 0 40px #ff005e, 
        0 0 80px #ff005e;
    animation: glow 0.5s infinite alternate;
}

@keyframes glow {
    0% {
        text-shadow: 
            0 0 5px #ff005e, 
            0 0 10px #ff005e, 
            0 0 20px #ff005e, 
            0 0 40px #ff005e, 
            0 0 80px #ff005e;
    }
    100% {
        text-shadow: 
            0 0 10px #00d4ff, 
            0 0 20px #00d4ff, 
            0 0 40px #00d4ff, 
            0 0 80px #00d4ff, 
            0 0 160px #00d4ff;
    }
}

/* Apply the button styles to the <a> tag */
a.download-button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid rgb(61, 106, 255);
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #fff;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    text-decoration: none; /* Remove underline */
    display: inline-block; /* Ensure it behaves like a button */
  }
  
  a.download-button:hover {
    background: rgb(61, 106, 255);
    box-shadow: 0 0 30px 5px rgba(0, 142, 236, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
  }
  
  a.download-button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
  }
  
  a.download-button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
  }
  
  @keyframes sh02 {
    from {
      opacity: 0;
      left: 0%;
    }
  
    50% {
      opacity: 1;
    }
  
    to {
      opacity: 0;
      left: 100%;
    }
  }
  
  a.download-button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
  }


  
